doctype html

head
	title Tic Tac Toe
	meta(charset='UTF-8')
  style
    include ../src/styles.css

#information It is X&apos;s turn!
table(border='2' width='200' height='200')
  tr
    td#q0.q
    td#q1.q
    td#q2.q
    td#q3.q
    td#q4.q
  tr
    td#q5.q
    td#q6.q
    td#q7.q
    td#q8.q
    td#q9.q
  tr
    td#q10.q
    td#q11.q
    td#q12.q
    td#q13.q
    td#q14.q
  tr
    td#q15.q
    td#q16.q
    td#q17.q
    td#q18.q
    td#q19.q
  tr
    td#q20.q
    td#q21.q
    td#q22.q
    td#q23.q
    td#q24.q
  script(src='src/index.js')
